@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');


:root{
    --primary: #00043e;
    --secundary: #007aff;
    --cinza: #303030;
    --cinza_claro: #818181; font-weight: bold;
    --branco: #FFFFFF;
}


body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin:0;
}

h1, h2, h3, h4{
    font-family:'Montserrat', sans-serif;
}
h3{
    font-weight: 900;
}


    /*  header  */

header{
    background: var(--primary);
}

label{
    float: right;
}

.menu{
    display: none;
    background-color: var(--cinza_claro);
    margin: 0;
    padding: 10px;
    list-style: none;
    text-align: center;
}

.menu_link{
    color: white;
    text-decoration: none;
    font-size: 12px;
    color: white;
}

#marcador{
    display: none;
}

#marcador:checked + .menu{
    display: block;
}

.navbar_toggle{
    color: white;
}


/* Main  */


.main{
    width: 100%;
}

.secaoDestaque{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin-bottom: 90px;
    background: var(--primary);
}

.secaoDestaque h2{
    font-size: 63px;
    color: var(--branco);
    text-align: center;
    margin-bottom: 0;
}

.secaoDestaque p{
    font-size: 21px;
    color: var(--branco);
    border: 0px;
}

.secaoDestaqueFormulario{
    display: flex;
}

.secaoDestaqueFormulario button{
    font-size: 14px;
    padding:8px;
    background-color: var(--secundary);
    color: var(--branco);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
}

.secaoDestaqueFormulario input{
    height: 30px;
    border: wr;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;
}


/* Segunda seção */


.secaoSobre{
    background-color: var(--branco);
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 19px;
    color: var(--cinza_claro);
    
}


.secaoSobre h2{
   font-size: 24px;
    color: black;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left:10%;
    margin-right: 10%;

}

.flex-col{
    width: 100%;
}

.flex img{
    width: 80%;
}

figcaption{
    display: none;
}

.flex_par1{
    color: black;
}

.flex_button{
    background: transparent;
    border: 1px solid var(--cinza_claro);
    padding: 3% 20%;
}



/*Seção de cursos */

.secaoCursos{
    background-color: var(--branco) ;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px
}

.secaoCursos h1, h2, h3{
    font-size: 19px
}

.secaoCursos_article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.secaoCursos_article img{
    width: 30%;
}
.secaoCursos_article p{
    color: var(--cinza_claro);
}

.list_cursos{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Section calendario */

.secaoCalendar{
    text-align: center;
    font-size: 15px;
    color: var(--cinza_claro);

}

.secaoCalendar h1, h2, h3{
    font-size: 19px;
    color: black;
}

.calendario{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendario_list{
    border: 2px solid var(--primary);
    margin-bottom: 10px;
    min-width: 200px;
    width: 60%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.calendario_list p{
    margin-left: 10%;
    margin-right: 10%;
}

.calendario_list span{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: var(--cinza_claro);
}
.calendario_list button{
    width: 80%;
    height: 30%;
    margin-bottom: 10%;
    background: var(--secundary);
    color: var(--branco);
    border: 1px solid var(--cinza_claro);
    border-radius: 5px;

}

.calendario-data{
    color: var(--branco);
    background: var(--primary);
    color: var(--branco);
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 40px;

}


.secaoContato{
    color: var(--cinza_claro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.secaoContato h1,h2,h3{
    color: black;
}

.secaoContato-informacoes ul{
    list-style: none;
}

.secaoContato-informacoes ul li a{
    text-decoration: none;
    color: var(--cinza_claro);
}

.form-input-model label{
    display: none;
}

.form-input-model input{
    width: 70%;
    height: 30px;
    margin: 2%;
}

.form-input-model textarea{
    width: 70%;
    height: 50px;
}

footer p{
    display: none;
}

footer{
    margin-top: 3%;
    background-color: lightslategray;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}